*{
padding: 0;
margin: 0;
}

/* .about_des{
    border: 1px solid red;
} */
.header-head{
    background-image: url(../images/bg.jpg);
    height: 120vh;
}
.hero-section-big-div{
    gap: 2rem;
}
.hero-section-left{
    margin-top: -5rem;
}
.hero-section-right{
    margin-top: 7rem;

}
@media (max-width:415px) {
    .mobile-navbar-btn{
        height:3rem;
        color: white;
        /* width: 100%; */
margin-top: -1rem;
border-style: none;
margin-right: 1.5rem;
    }
.mobile-nav-icon{
height: 2.9rem;
width: 3rem;
border: 2px solid white;
}

.navbar{
    width: 100%;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all .5s linear;

    visibility: hidden;
    opacity: 0;
    pointer-events: none ;

    margin-top: -1rem;
}

.navbar-lists{
    flex-direction: column;
    align-items: center;
}

.navbar .navbar-lists .navbar-link:link,
.navbar .navbar-lists .navbar-link:visited{

    color: rgb(249, 245, 245);
    font-size: 3rem;
}

.active .navbar{
transform: translateX(0%);
visibility: visible;
opacity: 1;
pointer-events: auto;
}

.active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
display: none;
}
.active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]
{
display: block;
}

.navbar .navbar-lists .navbar-link:link{
    font-size: 1.5rem;

    
}

.navbar .navbar-lists{
    margin-top: -18rem ;
}
.hero-section-right{
    margin-top: 50rem;

}
 .hero-image{
    margin-top: 20rem;

} 
.about_des{
    margin-bottom: 2rem;
}
img{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.about_des{
    /* border: 1px solid red; */
    margin-top: 1rem;
}
.header-head{
    background-image: url(../images/bg.jpg);
    height: 220vh;
    padding-bottom: 2rem;
}
}

@media screen and (max-width:600px) {
    .hero-section-big-div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}